a:hover {
    text-decoration: none;
    color: #B4BD00;
}

.main-information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
    margin: 105px auto 70px auto;
}

.ceda-slogan {
    color: #FFF;

    font-size: 14px;
    font-weight: 300;
    line-height: 104.5%; /* 14.63px */
    letter-spacing: -0.154px;
}
.main-heading {
    color: #B4BD00;
    width: 455px;
    font-size: 40px;
    font-weight: 700;
    line-height: 39.552px; /* 98.881% */
}

.time-price-container {
    margin-top: 20px;
    display: flex;
}

.descrip-heading {
    color: #FFF;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 106.5%; /* 21.3px */
    letter-spacing: -0.22px;
}

.hours-price-container {
    display: flex;
    margin-left: 15px
}

.time-icon {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.price-container {
    display: flex;
}

.time {
    color: #B4BD00;
    font-size: 16px;
    font-weight: 600;
    line-height: 104.5%; /* 16.72px */
    letter-spacing: -0.176px;
    margin-right: 5px;
}

.price-txt {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 104.5%;
}

.description-txt {
    margin-top: 10px;
    color: #969697;

    width: 475px;

    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    line-height: 119%;
    letter-spacing: -0.154px;
}

.key-word {
    color: #FFF;

    font-size: 14px;
    font-weight: 600;
    line-height: 119%;
    letter-spacing: -0.154px;
}

.main-info-right {
    width: 295px;
    height: 370px;
    border: 1px solid #B4BD00;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-program-heading {
    color: #B4BD00;
    width: 70%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.552px
}

.program-input {
    width: 227px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);

    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding-left: 17px;
    padding-right: 20px;
    margin-top: 20px;

    background-image: url("../img/Iconos/email.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 235px;
    margin: 20px auto 5px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    color: #FFF;

    width: 215px;

    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.4px;
}

.btn-pdf {
    width: 153px;
    height: 44px;
    background-color: #B4BD00;
    border: none;
    color: white;
    border-radius: 8px;
    margin-top: 22px;
    margin-bottom: 15px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
}

.extra-info-container {
    display: flex;
    width: 950px;
    justify-content: space-between;
    margin: 70px auto 90px auto;
}

.extra-container {
    display: flex;
    align-items: center;
}

.extra-img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.extra-span {
    color: #B4BD00;

    font-size: 12px;
    font-weight: 500;
    line-height: 104.5%;
    letter-spacing: -0.132px;
}

.accordion {
    width: 950px;
    margin: 0px auto 115px auto;
}

.card-header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.arrow-down {
    width: 22px;
    height: 15px;
}

.btn-link:hover {
    text-decoration: none;
    color: #B4BD00;
}

.card {
    background-color: black;
}

.btn-link {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.552px;

    display: flex;
    width: 950px;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9D9CA2;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-subheading {
    color: #B4BD00;

    font-size: 16px;
    font-weight: 300;
    line-height: 197%;
    letter-spacing: -0.176px;
}

.ul-list {
    display: flex;
    flex-direction: column !important;
}

.list-item {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 134%;
    letter-spacing: -0.154px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
}

.list-item:first-child {
    margin-left: 0px;
}

.list-dot {
    padding-right: 15px;
}

.titulo-img {
    width: 325px;
}

.metodologia-ceda {
    display: block;
    width: 100%;
}

.img-separator {
    margin-left: 80%;
    width: 124px;
    margin-bottom: 10px;
}

.formacion-cioclub-container {
    height: 600px;
    background-image: url('../img/banner-cioclub-formacion.png');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formacion-cioclub-heading {
    width: 660px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 43.5px;
    letter-spacing: -3px;
    color: #B4BD00;
}

.btn-matricularme{
    width: 187px;
    height: 60px;

    background-color: #B4BD00;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 55px;
    border-radius: 10px;
}

.btn-matricularme:hover {
    color: black;
}

.metodologia-section {
    position: relative;
}

.metodologia-ceda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 985px;
    margin: 120px auto 0px auto;
}

.metodologia-heading {
    color: #FFF;

    width: fit-content;

    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 104.5%;
    letter-spacing: -0.84px;
}

.heading-green {
    color: #B4BD00;
}

.metodologia-vector-container {
    display: block;
    position: absolute;
    width: 75px;
    height: 105px;
    top: -5%;
    left: 10%;
}

.saber-mas-link {
    color: #B4BD00;

    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.metodologia-grid-container {
    height: 466px;
    width: 915px;
    background-image: url('../img/metodología.png');
    background-size: cover;
    margin-bottom: 60px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-element-wrapper-top {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.grid-element-wrapper-bot {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;

}

.grid-element-heading {
    color: #B4BD00;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.grid-element-txt {
    color: #FFF;
    width: 270px;

    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.faq-section {
    width: 970px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0px auto;
}

.faq-wrapper {
    margin-left: 43px;
    margin-top: 30px;
}

.faq-container {
    width: 470px;
    min-height: 410px;
    border-radius: 10px;
    margin-bottom: 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
}

.faq-heading {
    color: #B4BD00;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.052px;
    margin-top: 15px;
}

.faq-txt {
    color: #FFF;
    width: 405px;
    font-size: 14px;
    font-weight: 400;
    line-height: 119%;
    letter-spacing: -0.154px;
}

.more-questions-section {
    margin: 45px auto 0px auto;
    width: 895px;
    display: flex;
    justify-content: space-between;
}

.more-questions-right {
    width: 405px;
}


.more-question-heading {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.more-question-txt {
    color: rgba(150, 150, 151, 0.60);
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.4px;
    width: 430px;
}

.more-question-form {
    display: flex;
    margin-bottom: 20PX;
}

.more-qa-input {
    width: 270px;
    height: 45px;
    margin-right: 20px;
    border-radius: 8px;

    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding-left: 15px;
}

.more-qa-btn {
    background-color: #B4BD00;
    color: #FFF;
    border-radius: 8px;
    width: 115px;
    height: 45px;
}

.acept-txt {
    color: rgba(255, 255, 255, 0.40);

    font-size: 10px;
}

.recomendations-section {
    width: 945px;
    margin: 80px auto 140px auto;
}

.recomendation-heading {
    color: #B4BD00;

    margin-left: 24px;

    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: 39.552px;
}

.recomendations-wrapper {
    width: 945px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.recomendation-container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 25px 15px;
    border-radius: 30px;
    width: 300px;
    height: 335px;
    background-color: rgba(46, 46, 46, 0.50);
}

.recomendation-time-txt {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 20px;
}

.recomendation-title {
    color: #B4BD00;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 10px;
}

.more-info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    background-color: #B4BD00;
    border-radius: 8px;

    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 104.5%;
    letter-spacing: -0.154px;
}

.more-info-btn:hover {
    color: black;
}