main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.somos-ceda-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 855px;
  margin: 125px 0px 95px 0px;
}

.somos-ceda-heading {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 95.04px;
  width: 280px;
}

.somos-ceda-subheading {
  color: #B4BD00;

  width: 495px;

  text-align: justify;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 119%;
  letter-spacing: -0.176px;
  margin-bottom: 20px;
}

.somos-ceda-txt {
  color: #969697;

  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 119%;
  letter-spacing: -0.154px;
}

.somos-mundo-container{
  width: 890px;
  height: 710px;
  background-image: url("../img/somos-ceda-mundo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 80px 0px 0px 0px;
}

.valores-heading {
  color: #B4BD00;

  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 39.552px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.valores-CEDA-subcontainer {
  margin: 50px auto 180px auto;
  width: 860px;
  display: flex;
  justify-content: space-between;
}

.valor-container {
  width: 202px;
  padding: 15px 13px 5px 10px;
  height: 240px;
  border-radius: 17px;
  background: linear-gradient(180deg, rgba(243, 238, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.valor-heading-container {
  display: flex;
  align-items: center;
  height: 35PX;
  width: 165PX;
  margin-bottom: 15px;
  margin-left: auto;
}

.valor-heading {
  color: #B4BD00;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 10px;
}

.valor-txt {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.valor-txt-bold {
  font-weight: 600;
}

.metodologia-CEDA {
  width: 830px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 210px;
}

.metodologia-left {
  width: 390px;
}

.card-header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-down {
  width: 22px;
  height: 15px;
}

.btn-link {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24.552px;

  display: flex;
  width: 390px;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9D9CA2;
}

.btn-link.focus, .btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}

.btn-link:hover {
  text-decoration: none;
  color: #B4BD00;
}

.card {
  background-color: black;
}

.metodologia-heading {
  color: #FFF;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 95.04px;
  letter-spacing: -2px;
}

.metodologia-subheading {
  color: #B4BD00;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -3.456px;
}

.card-txt {
  color: #969697;

  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.5px;
}